
body {
    background-image: url("../images/background.png");
    background-repeat: repeat;
    float: left;
}


h1 {
    font-size: 20px;
    font-weight: bold;
}


.container {
    width: 95%;
}


#row1col1 {
    padding: 10px;
    margin-top: 10px;
    background: #ff7500;
    color: #ffffff;
    opacity: 0.8;
    vertical-align: center;
}

#row2col1 {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    margin-top: 10px;
    background: #ffdfb2;
    color: #71cf3d;
    font-weight: bold;
    opacity: 0.8;
}

#row3col1 {
    padding: 5px 5px;
    margin-top: 10px;
    margin-right: 10px;
    background: #5decbb;
    opacity: 0.8;
    color: #730090;
    font-size: 30px;
    font-weight: bold;
}


#row3col2 {
    padding: 5px 5px;
    margin-top: 10px;
    background: #00e2ff;
    color: #000000;
    font-size: 16px;
    opacity: 0.8;
}


.crystal-image {
    height: 100px;
    width: 100px;
    margin-right: 6px;
    margin-top: 10px;
}


#row4col1 {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
    line-height: 0px;
}


#row5col1 {
    background: #00b3a4;
    top: 0px;
    margin: 0px;
    color: #ffffff;
    padding-top: 6px;
}


#row6col1 {
    background: #00b3a4;
    top: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 75px;
    font-size: 30px;
    font-weight: bold;
}